/* stylelint-disable selector-list-comma-newline-after */

.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
  font-family: "ingeborg-block",sans-serif;
  font-size: 3rem;
  letter-spacing: .4rem;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.8);
  
}

.blog-header-logo:hover {
  text-decoration: none;
}

 h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

h1,h2{
  font-family: "ingeborg-block",sans-serif;
 text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.8);
}

h1{
  letter-spacing: .05rem;
}

h2{
  letter-spacing: .5rem;
  font-size: 3rem;
  text-align: center;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }




/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}
/*
*
*
*/
body{
    background-color: #222;
}


.p-3, .pb-3, .p-2{
    color:#efefef;
}

.donate{
    color:#efefef;
    background-color: #222;
}
.card-img-right{
    max-width: 12rem; 
}
.card{
    min-height: 12rem;
    box-shadow: 10px 10px 18px -2px #000;
}
.card-body{
    background-color: #000;
    box-shadow: 10px 0px 18px -2px #000; 
}

.jumbotron{
    
    box-shadow: 10px 10px 18px -2px #000;
}

.card-text{
    color:#fff;
}

.top{
  font-family: "azo-sans-uber",sans-serif;
  font-size: 1.7rem;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.8);
}
a{
    color:orangered;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
    font-family: "azo-sans",sans-serif;
    
}
a:hover{
    color:#ffc107;
}
a:active{
    color:#ffc107;
}
